.cardContainer {
    border: 2px solid rgba(59, 59, 59, 0.685);
    border-radius: 2px;
    margin: 40px;
    width: 30rem;
}
.cardProductoCarrito {
    padding: 20px;
    border: 1px solid rgba(153, 153, 153, 0.685);
    border-radius: 10px;
    margin: 10px;

}
.carrito{
    display: flex;
    justify-content: center;
}
.titleProduct {
    margin-bottom: 30px;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flexInfo{
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
}
.infoProduct{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left:2rem;
}
.divImg{
    padding: 10px;
}
.Img {
    width: 5rem;;
}
.precioTotal {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}
.carritoVacio{
    margin: 3rem;
}