.logoImg {
    height: 50px;
}
.claseActiva {
    color:white;
    text-decoration: none;
}
.claseInactiva {
    color:rgb(180, 177, 177);
    text-decoration: none;
}
.claseDropDown {
    color: black;
    text-decoration: none;
}