.logoImg {
    height: 50px;
}
.claseActiva {
    color:white;
    text-decoration: none;
}
.claseInactiva {
    color:rgb(148, 146, 146);
    text-decoration: none;
}
.claseDropDown {
    color: black;
    text-decoration: none;
}